<header class="header">
  <div class="heading">
    <h1 class="heading__title">Vinlotteriet</h1>
    <!-- <input class="heading__input" #competitorInput type="text" placeholder="Johan Wallin" (keyup.enter)="addCompetitor(competitorInput.value); competitorInput.value ='' "> -->
    <!-- <input class="heading__input" type="text" placeholder> -->
    <!-- <button class="heading__btn" (click)="addCompetitor($event)" >Lägg till</button> -->
  </div>
</header>
<section class="body">
  <ul class="competitors">
    <li class="competitor" *ngFor="let competitor of competitors">
      <div class="competitor__name">
        <p>{{competitor.name}}</p>
      </div>
      <div class="competitor__overlay">
        <div class="competitor__overlay__left">
          <h2>Edit</h2>
        </div>
        <div class="competitor__overlay__right" (click)="deleteCompetitor(competitor)">
          <h2>Delete</h2>
        </div>
      </div>
    </li>
    <li class="competitor competitor__placeholder">
        <i class="icon-plus fas fa-plus"></i>
      <!-- <input type="text" class="competitor__input"> -->
    </li>
  </ul>
</section>
<section class="footer">
  <ul class="footer-list">
    <li class="footer-list__item"><a href="main#rules">Regler</a></li>
    <li class="footer-list__item"><a href="https://bitbucket.org/Jowa1307/vinners/">Repository</a></li>
    <li class="footer-list__item"><a href="mailto:johan.wallin@sogeti.com">Frågor</a></li>
  </ul>
</section>