$bg: rgba(0, 0, 0, 0.2);
$bg-delete: rgba(255, 93, 93, 0.6);


.header {
    background-color: #c50737;
    height: 25vh;
    width: 100%;

    display: flex;
    justify-content: center;
    align-content: center;
}

.body {
    background-color: rgb(228, 228, 228);
    min-height: 75vh;
    padding: 5rem;
}

.footer {
    background-color: rgb(43, 43, 43);
    height: 10vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.heading {
    display: flex;
    align-items: center;

    &__input{
        height: 7rem;
        padding: 3rem;
        font-size: 3rem;
        border-radius: 10px;
        margin: 0 1rem 0 1rem;
        border: none;
        width: 40rem;

        &:focus {
            padding: 6;
        }
    }
    &__btn{
        height: 7rem;
        
    }

    &__title {
        font-size: 7rem;
        color: rgb(238, 238, 238);
        text-transform: uppercase;
        text-shadow: black 0 5px 4px;
        letter-spacing: .7rem;

        transition: all 1s ease;
        &:hover {
            transform: rotate3d(2, -1, -1, -5.5turn); // Lol
            // transform: translateX(1rem)
        }
    }

}

.competitors {
    
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    
}

.competitor {
    background-color: #fff;
    border-radius: 10px;
    list-style: none;
    width: 23rem;
    height: 13rem;
    margin: 2.7rem;
    font-size: 2rem;

    transition: all ease .1s;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    

    
    &__name {
        
    }

    &__placeholder {
        opacity: .3;

        transition: all .2s ease;

        &:hover {
            opacity: .5;
            cursor: pointer;
        }
    }
    
    &__overlay {
        position: absolute;
        width: inherit;
        height: inherit;
        z-index: 10;
        border-radius: 10px;
        opacity: 0;
        font-size: 1.5rem;

        transition: all .2s ease;
        
        &__left {
            border-radius: 10px 0 0 10px;

            position: absolute;
            height: inherit;
            width: 50%;
            
            display: flex;
            align-items: center;
            justify-content: center;

            transition: all .2s ease;

            &:hover {
                background: $bg;
            }
        }
        
        &__right {
            border-radius: 0 10px 10px 0;

            position: absolute;
            height: inherit;
            left: 50%;
            width: 50%;
            
            display: flex;
            align-items: center;
            justify-content: center;

            transition: all .2s ease;

            &:hover {
                background: $bg-delete;
            }
        }
        
        &:hover {
            cursor: pointer;
            background: $bg;
            box-shadow: 0px 0px 60px -16px rgba(0,0,0,0.75);
            opacity: 1;
        }
    }
    

    &:hover {
        // transform: translateY(-3px);
        transform: scale(1.1);
    }
    
    &:hover &__name {
        color: transparent;
        text-shadow: 0 0 5px rgba(0,0,0,0.5);
    }
}

.footer-list{
    list-style: none;
    color: #fff;
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;


    &__item{
        margin: 0 6rem 0 6rem;
        transition: transform .2s ease;
        &:hover {
            transform: scale(1.2);
        }
    }

    &__item a, &__item a:visited {
        color: #fff;
        text-decoration: none;
    }    
}

.icon-plus {
    font-size: 8rem !important;
    transition: all ease .2s;
}