/* You can add global styles to this file, and also import other style files */
*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
    font-size: 62.5%; // Default size of 16px. 100/16 = 10px
    font-family: "Lato", sans-serif;
	font-weight: 400; // font-size: 16px;
	line-height: 1.7;
}


body {
    box-sizing: border-box;
    background-size: cover;
}